<section>
    {% for name in site.data.bio %}
    {% if name.name == "Accomplishments" %}
    <details>
        <summary class="text-center text-error">{{ name.name }}</summary>
        <div class="bio-gallery">
            {% for item in name.items %}
            <div class="bio-item">
                <a href="{{ item.url }}" target="_blank" aria-label="{{ item.label }}">
                    <img class="bio-img" src="{{ item.image }}" alt="{{ item.label }}">
                    <p class="text-center">{{ item.label }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </details>
    {% endif %}
    {% endfor %}
</section>