<section>
    {% for category in site.data.bio %}
    <details>
        <summary class="text-center text-primary">{{ category.name }}</summary>
        <div class="bio-gallery {{ category.class }}">
            {% for item in category.items %}
            <div class="bio-item">
                <img 
                    class="bio-img {{ item.type }}" 
                    src="{{ item.image }}" 
                    alt="{{ item.title }}">
                <p>{{ item.title }}</p>
            </div>
            {% endfor %}
        </div>
    </details>
    {% endfor %}

    <!-- Align Website Logo and Text to the Left -->
    <div class="personal-website-link">
        <a href="https://top-notch-solutions.com" target="_blank">
            <img src="assets/images/TopNotch.png" alt="Top Notch Solutions Logo" class="website-logo">
        </a>
        <p>Visit our website: <a href="https://top-notch-solutions.com" target="_blank">Top Notch Solutions</a></p>
    </div>
</section>
