<section>
    {% for category in site.data.bio %}
    <details>
        <summary class="text-center text-primary">{{ category.name }}</summary>
        <div class="bio-gallery {{ category.class }}">
            {% for item in category.items %}
            <div class="bio-item">
                <img 
                    class="bio-img {{ item.type }}" 
                    src="{{ item.image }}" 
                    alt="{{ item.title }}">
                <p>{{ item.title }}</p>
            </div>
            {% endfor %}
        </div>
    </details>
    {% endfor %}
</section>
