<main>
    {% for button in site.data.links.buttons %}
    <h2 class="text-center">{{ button.category }}</h2>
    {% for item in button.items %}
    <div class="row">
        <div class="col is-center">
            <a class="button outline secondary" href="{{ item.url }}" target="_blank">
                {% if item.custom-icon %}
                {{ item.custom-icon }}
                {% else %}
                <span class="iconify-inline" data-icon="{{ item.icon }}"></span>
                {% endif %}
                {{ item.title }}
                {% if item.tag %}
                <span class="tag is-small bd-success text-success" style="margin-left:.5em;">{{ item.tag }}</span>
                {% endif %}
            </a>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</main>
