<section class="social-links">
    <ul class="text-center"> <!-- Added "text-center" to center-align links -->
        {% for link in site.social_links %}
        <li style="display: inline-block; margin: 0 1rem;"> <!-- Inline-block for spacing -->
            <a href="{{ link.url }}" target="_blank" aria-label="{{ link.name }}">
                {% if link.path %}
                <img src="{{ link.path }}" alt="{{ link.name }} logo" class="social-icon">
                {% else %}
                <span class="iconify" data-icon="{{ link.icon }}"></span>
                {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
